.flex {
  display: flex;
}

.center {
  justify-content: center;
}
.other {
  width: 50vw;
}
textarea {
  resize: none;
  border-radius: 10px;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #1e3d58;
}
